img, #pieces-data {behavior: url(/javascripts/iepngfix.htc);}
div#content {
	min-height: 468px;
	height: auto !important;
	height: 468px;
}
ul#category_menu li {
	margin-left: 0;
}
#bottom-strip {
	bottom: 20px;
}