<h1>New Contact:</h1>
<p>
  <b>Name:</b>
  <%=h @contact.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @contact.email %>
</p>
<p>
  <b>Phone:</b>
  <%=h @contact.phone %>
</p>

<p>
  <b>Message:</b><br />
  <%=h @contact.message %>
</p>

